@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-gradient-pink-purple {
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, #9c27b0, #ff4081) 1;
    }
  }
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-bounceInDown {
    animation: bounceInDown 0.8s ease-out;
  }
  .custom-carousel .carousel .control-dots .dot {
    width: 15px; /* ปรับขนาดให้ใหญ่ขึ้น */
    height: 15px; /* ปรับขนาดให้ใหญ่ขึ้น */
    background-color: whitesmoke; /* สีของปุ่ม */
    margin: 5px; /* ระยะห่างระหว่างปุ่ม */
  }
  body {
    background-color: #f0f8ff; /* สีฟ้าอ่อน */
    background-image: linear-gradient(to right, #f0f8ff, #e6e6fa); /* เพิ่ม Gradient */
  }
  .logo-container {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  
  .logo-slider {
    display: flex;
    animation: slide-animation 15s linear infinite;
  }
  
 
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.1); /* ซูมเข้าภาพ */
    filter: brightness(1.2); /* เพิ่มความสว่าง */
  }
  .logo-slider-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-slider {
    display: flex;
    gap: 20px;
    transition: transform 1s ease-in-out;
  }
  
  .logo-slide {
    width: 100px; /* ปรับขนาดโลโก้ตามต้องการ */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.3s forwards;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  img {
    outline: none;
  }
  
  img:focus {
    outline: none;
  }
  .Kuromi {
    border-radius: 100%;
}
.slide-down {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slide-up {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
  display: none;
}