@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .border-gradient-pink-purple {
      border-width: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, #9c27b0, #ff4081) 1;
    }
  }
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes bounceInDown {
    0% {
      opacity: 0;
      transform: translateY(-2000px);
    }
    60% {
      opacity: 1;
      transform: translateY(30px);
    }
    80% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animate-bounceInDown {
    animation: bounceInDown 0.8s ease-out;
  }
  .custom-carousel .carousel .control-dots .dot {
    width: 15px; /* ปรับขนาดให้ใหญ่ขึ้น */
    height: 15px; /* ปรับขนาดให้ใหญ่ขึ้น */
    background-color: whitesmoke; /* สีของปุ่ม */
    margin: 5px; /* ระยะห่างระหว่างปุ่ม */
  }
  